name: CI/CD - Modulo3 Stats
on:
push:
branches: [ main, master ]
workflow_dispatch: {}


jobs:
deploy:
runs-on: ubuntu-latest
steps:
- name: Checkout
uses: actions/checkout@v4


- name: Setup Node
uses: actions/setup-node@v4
with:
node-version: '18'


- name: Install deps (si hay)
run: |
if [ -f package.json ]; then npm ci; fi


- name: Zip lambda
run: |
mkdir -p terraform
(cd src && zip -r ../terraform/lambda_payload.zip .)


- name: Setup Terraform
uses: hashicorp/setup-terraform@v2
with:
terraform_version: '1.5.0'


- name: Terraform Init
working-directory: terraform
env:
AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
AWS_REGION: ${{ secrets.AWS_REGION }}
run: terraform init


- name: Terraform Apply
working-directory: terraform
env:
AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
AWS_REGION: ${{ secrets.AWS_REGION }}
run: terraform apply -auto-approve -var "ddb_table=${{ secrets.DDB_TABLE_NAME }}" -var "environment=prod"